
.learnRedux {
    text-align: center;
    .smallButton {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content:space-around;
    
    }
    
    .largeButton {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content:space-around;
    }
}
