.NotFund {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    // 默认值。灵活的项目将水平显示，正如一个行一样。
    // 灵活的项目将垂直显示，正如一个列一样。
    flex-direction: column;

    img {
        width: 100px;
        height: 100px;
    }
    p {
        margin-top: 10px;
    }
}