.footer {
    text-align: center;
    margin-bottom: 0px;
    height: 24px;

    .text {
        font-family: PingFangSC-Regular;
        font-size: 13px;
        color: #c5c8ce;
        letter-spacing: 0;
        text-align: left;
    }
}
